

.jumbotron .display-4{
    font-weight: bold;
}


#jumbotron {
  height: 90vh;
  width: 100vw;
  margin-bottom: 0;
  top: 0px;
  background: url('../img/fondo_index.png');
  background-size: 90vh, 50vw;
  background-repeat: no-repeat;
  background-position: top right; 
  
  
}

 /* start Header */

 /* start Nav */
 .navbar{
   padding: 0px 50px 0px 60px;
 }


 /* finish Nav */



 .conteiner{

  display: inline;
  width: 100%;
  align-content: center;

 }

 .ella{
/* ilustración */
margin-top: 0;
top: 0;
  width: 400px;
 animation: ella 3s;
 }

 @keyframes ella {
   0%{opacity: 0%; transform: translateY(-50px); }
   50%{
    opacity: 0%
   }
   100%{ opacity: 100% ;

   }
 }

 .titulo-header {
   animation: titulos 3s;
   
 }

 @keyframes titulos {
  0%{opacity: 0%; transform: translateY(50px); }
  50%{
   opacity: 0%
  }
  100%{ opacity: 100% ;

  }
}


#e-mercado {

  color: #8fc74a;
  font-size: 500%;
  margin-top: 30%;
margin-bottom: 0px; 
font-weight: bolder;
 }
 
 #subhead {
   font-size: 200%;
   color: #aba4a8;
   font-weight: lighter;
   
 
 }
 /* end Header */
/* Cards */

.row {
  max-width: 100vw;
}

.c {
  padding: 15px;
  border-radius: 200px !important;
}

.card{
  background-color: #fafafa;

}

.c .img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    
    
}

.c .top-sec {
  margin-top: -30px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  

}

.c {
  max-width: 100vw;
}


.titulo-card{
  color: #ff006d;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.card-text {
  color: #5e5e5e;
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.card{
  border: none !important;
}

.custom-card:hover .img{
  
  animation: zoom 0.5s forwards;


}

a{
  text-decoration: none !important;
}



@keyframes zoom {
  0%{
 width: 200px;
 height: 200px;
  }
  100%{
    width: 210px;
    height: 210px;
  }
}


/* responsive */

@media (max-width: 990px){
 
  #e-mercado {

    font-size: 350%;

     margin-top: 50%;
     margin-left: 5px;

   }
   
   #subhead {
     font-size: 200%;
     color: #aba4a8;
     font-weight: lighter;
   }

   
   #jumbotron {
    height: 80vh;
    background-size: 50vw;

  }
   
  }

  @media (max-width: 767px){

     
     #jumbotron{
background-image: url('../img/cover_back.png'); 
background-repeat: no-repeat;
background-size: contain;
background-position: bottom;
height: 40vh;

}
  
     
     .row {
      width: 80vw;
      display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0px;

  
    }
    .col-sm{
     width: 100%;
    justify-content: center;
    align-items: center;
    }

    #e-mercado {

      display: none;
  
     }
     
     #subhead {
      display: none;
     }
     
     .ella{
      /* ilustración */
      display: none;
       }

       .navbar{
        width: 100%;
        padding: 10px;
        margin: 0px;
        background-color: gainsboro;
        
      }


    }